.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.container-form form {
    flex: 0;
    min-width: 30rem;
    padding: 10px 20px;
    background-color: rgb(188, 182, 214);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
}

.container-form form * {
    margin-bottom: 3px
}

.block-form {
    display: grid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.error-form {
    color: red;
    background-color: yellow;
    padding: 5px 10px;
    font-style: italic;
}